<div id="<%= dom_id fake_game %>">
  <p>
    <strong>Title:</strong>
    <%= fake_game.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= fake_game.genre %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= fake_game.platform %>
  </p>

</div>
