<div class="free">
  <h3>List of Free Games: <%= FreeGame.count %></h3>
  <br>
    <% @free_games.each do |free_game| %>
    <ul>
      <li><span><%= free_game.title %></span> - <%= link_to "Show", free_game %></li>
    </ul>
    <% end %>
  <%= paginate @free_games %>
</div>
