<div class="about">
  <h3>About</h3>
  <p>This app uses the CheapShark API to display PC games that are currently on sale. Browse through the games or search for a specific game.
  The information includes the game title, sale price, normal, price, percentage saved, and the steam ratings!</p>
  <p>The second dataset consists of data from FreeToGame.com. This is a list of games that are free to play, with a link to that specific game.</p>
  <p>The faker section of this app contains fake games using faker generated data. This includes a game title, genre, and platform!</p>
</div>
<span class="erd"><%= image_tag 'projectERD.png', style: 'max-width: 600px' %></span>

