/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{
  width: auto;
}
.navbar-text{
  padding-left: 10px;
  padding-right: 10px;
}

  .navbar a{
    text-decoration: none;
  }

.about{
  padding: 20px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.sale{
  padding: 20px;
  text-align: center;
}

  .sale ul li{
    list-style: none;
    padding: 2px;
    text-align: center;
  }

  .sale span{
    font-weight: bold;
    font-size: 1.1em;
  }

.faker{
  padding: 20px;
  text-align: center;
}

.faker ul li{
  list-style: none;
  padding: 2px;
}

.faker span{
  font-weight: bold;
  font-size: 1.1em;
}

.pagination{
  display: flex;
  justify-content: center;
}

.free{
  padding: 20px;
  text-align: center;
}

.free span{
  font-weight: bold;
  font-size: 1.1em;
}

.free ul li{
  list-style: none;
  padding: 2px;
}

.results{
  text-align: center;
}

.showGame{
  margin-top: 0;
  text-align: center;
}

.fullGameLink{
  text-align: center;
}

.erd img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fakerLink{
  text-align: center;
}

.showFakerGame{
  text-align: center;
}

.showFreeGame{
  text-align: center;
}

.freeLink{
  text-align: center;
}



